body {
  background-color: rgb(255, 255, 255);
}

.content-container {
  padding: 33px;
}

@media screen and (max-width: 480px) {
  .content-container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
