.spinner {
  animation: spin infinite 0.7s;
  animation-timing-function: linear;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 2px solid transparent;
  background: radial-gradient(
    #46464a 0%,
    #46464a 55%,
    transparent 95%,
    transparent 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .speed {
  width: 120px;
  height: 120px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed2 {
  width: 130px;
  height: 130px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .spinner::after {
  content: "";
  background-color: white;
  width: 5px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
