.result-table {
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
}

.result-class {
}

.result-table-header {
  padding: 16px 16px 16px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  cursor: pointer;
}

.result-table-toggle {
}

.result-class h3 {
  background-color: #46464a;
  padding: 8px;
  color: white;
  font-size: 1.2em;
}

.result-class-grid {
  display: grid;
  height: 48px;
  grid-template-columns: 50px minmax(250px, 1fr) repeat(8, minmax(80px, 1fr)) minmax(
      160px,
      1fr
    );
  transition: background-color 0.15s;
  background-color: rgb(250, 250, 250);
}

.result-class-grid:hover {
  background-color: rgb(230, 230, 230);
}

.result-class-grid span {
  font-size: 1em;
  padding: 12px 6px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
